<div class="container login-container">
    <div class="row">
        <div *ngIf="!isMobile" class="col-md-7 login-form-1"></div>
        <div class="col-md-5 login-form-2 change-pwd-form">
            <form *ngIf="isLoggedIn" name="form" (ngSubmit)="f.form.valid && confirmPwd()" #f="ngForm"
                novalidate>
                <div class="form-group cus-text-login">
                    <img src="./assets/img/logo.png" width="100px">
                </div>
                <div class="form-group cus-text-login">
                    <b style="font-size: 16px;">Thay đổi mật khẩu</b>
                </div>
                <div class="form-group">
                    <p>Mật khẩu cũ</p>
                    <div class="input-group">
                        <input name="newpwd" [type]="show_button ? 'text' : 'password'" class="form-control" [(ngModel)]="oldpwd">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword(0)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>Mật khẩu mới</p>
                    <div class="input-group">
                        <input name="newpwd" [type]="show_button1 ? 'text' : 'password'" class="form-control" [(ngModel)]="newpwd">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword(1)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>Nhập lại mật khẩu mới</p>
                    <div class="input-group">
                        <input name="renewpwd" [type]="show_button2 ? 'text' : 'password'" class="form-control" [(ngModel)]="renewpwd">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword(2)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p style="height: 10px;"></p>
                </div>
                <div class="form-group">
                    <span class="spinner-border spinner-border-sm" *ngIf="isLoading" role="status" aria-hidden="true"></span>
                    <button type="submit" class="btnSubmit" [disabled]="isLoading ? 'disabled': null">Đổi mật khẩu</button>
                </div>
                <div class="form-group">
                    <p style="height: 10px;"></p>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && errorMessage">
                        Lỗi đổi mật khẩu: {{ errorMessage }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
