<div class="container login-container">
  <div class="row">
    <div *ngIf="!isMobile" class="col-md-7 login-form-1"></div>
    <div class="col-md-5 login-form-2">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && openOtp(content_otp)" #f="ngForm" novalidate>
        <div class="form-group cus-text-login">
          <img src="./assets/img/logo.png" width="100px">
        </div>
        <div class="form-group cus-text-login">
          <b style="font-size: 16px;">Lấy lại mật khẩu</b>
        </div>
        <div class="form-group">
          <p style="height: 20px;"></p>
        </div>
        <div class="form-group">
          <b>ID</b>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                 #username="ngModel" placeholder="Tên đăng nhập *"/>
          <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
            Bạn chưa nhập tên đăng nhập!
          </div>
        </div>
        <div class="form-group">
          <p style="height: 30px;"></p>
        </div>
        <div class="form-group">
          <button type="submit" class="btnSubmit">Gửi</button>
        </div>
        <div class="form-group">
          <p style="height: 30px;"></p>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Lỗi lấy lại mật khẩu: {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #content_otp="" let-modal="">
  <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
    aria-hidden="true" class="x-close">&times;</span></button>
  <br>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nhập mã OTP</h4>
  </div>
  <div class="modal-body">
    <p><b>Mã OTP đã được gửi vào số điện thoại của quý khách. Vui lòng nhập mã để xác nhận đổi mật khẩu.</b></p>
    <div class="change-pwd-form">
      <form name="frm_new_pwd">
        <ng-otp-input [config]="conf_otp_input" (onInputChange)="onOtpChange($event)"></ng-otp-input>
        <input hidden name="otp" [(ngModel)]="otpCorrect" required>
        <div class="form-group">
          <p style="height: 20px;"></p>
        </div>
        <div class="form-group">
          <p>Mật khẩu mới</p>
          <div class="input-group">
            <input name="newpwd" [type]="show_button1 ? 'text' : 'password'" class="form-control" [(ngModel)]="newpwd">
            <div class="input-group-append">
              <span class="input-group-text">
                <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword(1)"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Nhập lại mật khẩu mới</p>
          <div class="input-group">
            <input name="renewpwd" [type]="show_button2 ? 'text' : 'password'" class="form-control"
                   [(ngModel)]="renewpwd">
            <div class="input-group-append">
              <span class="input-group-text">
                <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword(2)"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer opt-custom">
    <span class="spinner-border spinner-border-sm" *ngIf="isLoading" role="status" aria-hidden="true"></span>
    <button class="btn btn-danger" type="button" (click)="confirmPwd();"
            [disabled]="isLoading ? 'disabled': null">Tiếp tục
    </button>
  </div>
</ng-template>
